

<div class="wrapper">

  <h1>Texte</h1>

  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos vitae sed cum porro? Corrupti assumenda vel consequuntur deleniti id at ad quisquam, in blanditiis. Deserunt laudantium similique cum, totam nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos vitae sed cum porro? Corrupti assumenda vel consequuntur deleniti id at ad quisquam, in blanditiis. Deserunt laudantium similique cum, totam nostrum.</p>


  <h1>Boutons</h1>

  <div class="yellow-btn">yellow-btn</div>
  <div class="grey-btn">grey-btn</div>
  <a href="#" class="animated-button thar-three">animated-button thar-three</a>

  <div class="container">
  <a class="gradient-btn btn-1">gradient-btn btn-1</a>
  <a class="gradient-btn btn-2">gradient-btn btn-2</a>
  <a class="gradient-btn btn-3">gradient-btn btn-3</a>
  <a class="gradient-btn btn-4">gradient-btn btn-4</a>
  <a class="gradient-btn btn-5">gradient-btn btn-5</a>
</div>

